<div class="row justify-content-center mb-3"
    [formGroup]="monthAndYearForm">

    <!-- selector field for months -->
    <div class="col-lg-2 col-md-2">
        <div class="input-group">
            <select class="form-control form-control-sm"
                formControlName="month">
                <option *ngFor="let month of monthsOfYear; let i=index"
                    value="{{i}}"
                    class="text-center">
                    {{month}}
                </option>
            </select>
        </div>
    </div>

    <!-- input field for year -->
    <div class="col-lg-2 col-md-2">
        <div class="input-group">
            <input type="number"
                max="9999"
                class="form-control form-control-sm text-center"
                [ngClass]="{'is-invalid': !yearCtrl.valid && yearCtrl.dirty}"
                formControlName="year">
        </div>
        <div *ngIf="yearCtrl.invalid &&
            (yearCtrl.dirty || yearCtrl.touched)">
            <small class="text-danger m-0"
                *ngIf="yearCtrl.hasError('required')">Leto je obvezno</small>
            <small class="text-danger m-0"
                *ngIf="yearCtrl.hasError('max')">Leto je preveliko</small>
        </div>
    </div>
</div>

<!-- display days of week names -->
<div class="row justify-content-center">
    <div class="col-1"
        *ngFor="let day of daysOfWeek">
        <p class="text-truncate m-0">{{day}}</p>
    </div>
</div>

<!-- display days of month -->
<div class="row justify-content-center"
    *ngFor="let week of daysOfMonthInYear">
    <div class="col-1 border border-1 bg-light"
        *ngFor="let day of week"
        [ngClass]="{
        'text-danger':day?.isSunday,
        'border-warning':day?.isHoliday
        }">
        <span>
            {{day?.value ?? '&nbsp;'}}
        </span>
    </div>
</div>

<!-- input field for date -->
<div class="row justify-content-center mt-3">
    <div class="col-lg-3">
        <div class="input-group">
            <input type="text"
                maxlength="10"
                class="form-control form-control-sm text-center"
                [ngClass]="{'is-invalid': !customChoosenDateCtrl.valid
                && customChoosenDateCtrl.dirty}"
                (change)="customDateInvalid=false"
                placeholder="dd.mm.yyyy"
                [formControl]="customChoosenDateCtrl">&nbsp;
            <button class="btn btn-light btn-sm"
                [disabled]="customChoosenDateCtrl.invalid"
                (click)="adjustCalendarToChoosenDate()">Izberi</button>
        </div>
        <div *ngIf="customChoosenDateCtrl.invalid &&
            (customChoosenDateCtrl.dirty || customChoosenDateCtrl.touched)">
            <small class="text-danger m-0"
                *ngIf="customChoosenDateCtrl.hasError('pattern')">
                Format datuma ni pravilen
            </small>
        </div>
        <div *ngIf="customDateInvalid">
            <small class="text-danger m-0">
                Datum ne obstaja
            </small>
        </div>
    </div>
</div>
